{% extends "base/base.html" %}


{% block content %}

<div class="container" style="margin-top:100px; margin-bottom: 100px">
  <div class="row justify-content-center mb-3">
    <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
      <h2 class="mb-4">Thank You For Your Order</h2>
      <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
      <p class="mt-5">The bill has been sent to your email. We will contact you shortly</p>
    </div>
  </div>

</div>


{% endblock %}